*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #DB3A3A;
    --primary-dark: #D41A1A;
}

body {
    background-color: rgb(255, 255, 255);
}

.header {
    display: flex;
    margin: 0 10px 0 30px;
    font-size: 0;
    line-height: 45%;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Lily Script One', cursive;
    font-size: 48px;
    color: white;
    text-align: center;
    margin-top: 300px;
}
header {
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-image: url("../assets/img/header.jpg");
    height: 500px;
    width: 100%;
}

.meal-search-box {
    margin: 100px;
    display: flex;
    align-items: stretch;
 }

.search-control {
    width: 100%;
}

.search-control {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    padding: 0 0 0 .5rem;
    outline: 0;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.search-control::placeholder {
    color: var(--primary);
}

#btn-search {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    border-radius: 0 8px 8px 0;
    width: 25%;
    height: 55px;
    background: var(--primary);
    color: white;
    border: none;
    transition: all 0.4s linear;
}
#btn-search:hover {
    background: var(--primary);
    color: white;
}
#btn-search:focus, #btn-search:active:focus {
    outline: 0 !important;
}
#btn-random {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: var(--primary);
    outline: 1px solid var(--primary);
    border-radius: 8px;
    width: 25%;
}


@media (max-width: 460px) {
    .title {
        font-size: 32px;
    }
}
